<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'users/base.html' %}
    <meta charset="UTF-8">
    <title>{% block title %}Login | {% endblock title %}</title>
</head>
<body>
    {% block header %}
      <h5 class="text-center">Login here</h5>
    {% endblock header %}

    {% block content %}
        <div>
          <div class="Logo">
            <img src="" alt=""> <!--Add Logo here-->
          </div>
          <form action="{% url 'users:login' %}" method="post" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit">Login</button>
            <input type="hidden" name="next" value="{% url 'users:index' %}">
          </form>
        </div>
    {% endblock content %}
</body>
</html>
