<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'users/base.html' %}
    {% load static %} 
    <meta charset="UTF-8">
    <title>{% block title %}Login | {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'HN_vms/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'HN_vms/css/login.css' %}">

</head>
<body>

  


    {% block header %}
    <div class="login_header">
      <h5 class="login_text">Please Log in to continue</h5>
    </div>
      
    {% endblock header %}

    {% block content %}
    <div class="login-container">
      <div class="row">
        <div class="column">
          <div class="logo">
            <img src="{% static 'HN_vms/images/HN_Logo.png' %}" alt="HN Logo" class="logo-image">
          </div>
          <div class="auth-forms">
            <form action="{% url 'users:login' %}" method="post" class="login-form">
              {% csrf_token %}
              {{ form.non_field_errors }}
              
              {% for field in form %}
                <div class="form-group">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{ field }}
                  
                  {% if field.errors %}
                    <span class="error">{{ field.errors }}</span>
                  {% endif %}
                </div>
              {% endfor %}
              
              <button type="submit" class="login-button">Login</button>
              <input type="hidden" name="next" value="{% url 'users:index' %}">
            </form>
          </div>
        </div>
      </div>
    </div>
    
    
    {% endblock content %}
</body>
</html>
