

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}  {% endblock title %}</title>        
        
                    <!-- PAGE STYLING -->
        <link rel="stylesheet" href="{% static 'HN_vms/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'HN_vms/css/login.css' %}">
        <link rel="stylesheet" href="{% static 'HN_vms/css/index.css' %}">
        <link rel="stylesheet" href="{% static 'HN_vms/css/register_client.css' %}">
        <link rel="stylesheet" href="{% static 'HN_vms/css/search.css' %}">
        <!-- Inside the <head> tag of base.html -->
        <link rel="stylesheet" href="{% static 'HN_vms/css/base.css' %}">

                    <!-- OTHER STYLING -->
        <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/fullcalendar@5/main.min.css'>
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/fullcalendar@5/main.min.css'>

</head>

<body>

  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
    <h2> Client Management System</h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01"      aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:client_list' %}">Clients</a>
          </li>

          {% if user.is_authenticated %}
            <li class="nav-item">
              <span class="navbar-text">Hello, {{ user.username }}.</span>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="{% url 'users:logout' %}">Logout</a> -->
              <a href="{% url 'users:logout' %}">Logout here</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:login' %}">Log in</a></li>
          {% endif %}
    </ul>             
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    </div>
</nav>

  <div class="nav_bar">

    <nav class="navbar navbar-expand-md navbar-light bg-light border">
        <!-- <i class="fa fa-google-wallet fa-2x mr-2"></i> -->
        <div class="header_logo">
          <img src="{% static 'HN_vms/images/HN_Logo.png' %}" alt="" class="fa-2x"> 
        

        <a style="font-family: 'Rubik',sans-serif;" class="navbar-brand" href="{% url 'users:index' %}">
          H&N
        </a>
      </div>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
        </button>
        <!-- End of Toggle button -->
            
        <div style="font-family: 'Rubik',sans-serif;" class="collapse navbar-collapse" id="navbarCollapse">

            
            <!-- User authentication -->
            <ul class="navbar-nav ml-auto">
                  <form action="{% url 'users:search' %}" method="get">
                    <li class="navbar-item mr-3 my-auto">
                    <div class="input-group">
                      <input class="form-control" name="query" type="text" placeholder="Search">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                    </li>
                  </form>

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:client_list' %}">Clients</a>
                  </li>

                  {% if user.is_authenticated %}
                    <li class="nav-item">
                      <span class="navbar-text">Hello, {{ user.username }}.</span>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'users:logout' %}">Logout</i></a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'users:login' %}">Log in</a></li>
                  {% endif %}
            </ul>
            <!-- End of User authentication -->
        </div>
    </nav>
</div>

<main>
    <div>
      {% block header %}{% endblock header %}
    </div>
    <div style="font-family: 'Rubik',sans-serif;">
        {% block content %}{% endblock content %}
    </div>
</main>









<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" ></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5/main.min.js'></script>



</body>
</html>