<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'users/base.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Client Details | {% endblock title %}</title>
</head>
<body>
{% load bootstrap4 %}

{% block header %}
<h5>Client Details</h5>
{% endblock header %}

{% block content %}
<table>
    <tr>
        <th>Client ID</th>
        <td>{{ client.id }}</td>
    </tr>
    <tr>
        <th>First Name</th>
        <td>{{ client.first_name }}</td>
    </tr>
    <tr>
        <th>Second Name</th>
        <td>{{ client.second_name }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ client.email }}</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>{{ client.phone }}</td>
    </tr>
    <tr>
        <th>Date of Birth</th>
        <td>{{ client.date_of_birth }}</td>
    </tr>
    <tr>
        <th>Points</th>
        <td>{{ client.points }}</td>
    </tr>
    <tr>
        <th>Referral Points</th>
        <td>{{ client.referral_points }}</td>
    </tr>
    <tr>
        <th>Birthday Points</th>
        <td>{{ client.birthday_points }}</td>
    </tr>
    <tr>
        <th>Card Paid</th>
        <td>{{ client.card_paid }}</td>
    </tr>
    <tr>
        <th>Card Issued</th>
        <td>{{ client.card_issued }}</td>
    </tr>
    <tr>
        <th>Referred By</th>
        <td>{{ client.referred_by.first_name }} {{ client.referred_by.second_name }} (ID: {{ client.referred_by.member_id }})</td>
    </tr>
</table>

<a href="{% url 'users:visit' client.id %}">Add Visit</a><br>
<a href="{% url 'users:redeem_points' client.id %}">Redeem Points</a><br>
<a href="{% url 'users:redeem_referral_points' client.id %}">Redeem Referral Points</a><br>
<a href="{% url 'users:redeem_birthday_points' client.id %}">Redeem Birthday Points</a><br>
<a href="{% url 'users:client_list' %}">Back to Client List</a> <br/>
<a class="button" href="{% url 'services:create_order' client.id %}">Select services</a>

<h5>Last 5 Visits</h5>
    <table>
        <thead>
            <tr>
                <th>Visit Date</th>
                <th>Visit Time</th>
            </tr>
        </thead>
        <tbody>
            {% for visit in visits %}
                <tr>
                    <td>{{ visit.visit_time.date }}</td>
                    <td>{{ visit.visit_time.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

</body>
</html>