<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Users</title>
    {% extends 'users/base.html' %}

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home | {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'HN_vms/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'HN_vms/css/index.css' %}">
    
    <style>
        
        </style>
</head>
<body>
    {% block header %}

    {% endblock header %}

    {% block content %}
    <!--Preloader--> 
<div class="preloader">
    <div class="loader"></div>
</div>
<!--Preloader End-->

<div class="dashboard-container"> 
    <div class="client-dashboard">
        <div class="client-view">
            <a class="nav-link" href="#">All Clients</a>
        </div>
        <div class="client-add"></div>
        <div class="employee-stats"></div>
    </div>
    <div class="dashboard-informatics">
        informatics
    </div>
    <div class="calender-scheduler">
            <iframe src="https://calendar.google.com/calendar/embed?src=mail.jamesotieno%40gmail.com&ctz=Africa%2FNairobi" style="border: 0" width="200" height="300" frameborder="0" scrolling="no"></iframe>

    </div>
</div>











        
    
{% endblock content %}

    
</body>
</html>


