<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'users/base.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Search | {% endblock title %}</title>
</head>
<body>

{% block header %}
    <h5>Search Results | {{search_count}} found</h5>
{% endblock header %}
    
{% block content %}
<div>
    {% for client in clients %}
        <div>
            <h5>{{ client.first_name }} {{ client.second_name }}</h5>
            <a href="{% url 'users:client_detail' client.id %}" >Client Details &raquo</a>
        </div>
        {% empty %}
            <p>Client not found!</p>
    {% endfor %}
</div> 
{% endblock content %}

</body>
</html>