
body{
    width: 100vw;
    height: 100vh;
    color: #ffff;
}
.login_text{
    color: rgb(231, 92, 92);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: century gothic;
}
.login_container{
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    border: 1px solid gold;
    border-radius: 20px;
    width: 800px;
    height: auto;
    margin: auto;
    margin-top: 100px;
    padding: 100px;
    background-color: #e9e7e731;
    color: black;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 200px;
    height: auto;
    margin: auto;
    border-radius: 50%;
}

.header_logo img{
    width: 50px;
    height: auto;
    margin: auto;
    border-radius: 50%;
}
/* .col-md-6 .mx-auto{
    background-color: rgb(24, 187, 133);
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.auth_forms{
    margin-left: 50px;
}

.form-group{
    margin-left: 50px;
}
/* custom_styles.css */
.custom-input {
    background-color: rgb(202, 23, 23);
}






.auth_forms {
    width: 500px;
    background-color: #cccccc49;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.auth_forms button{
    color: gold;
    
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    
}

.form-group input[type="text"], .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    width: 300px;
}

.form-group input:focus {
    outline: none;
    border-color: gold;
    box-shadow: 0 0 0 0.5px rgba(207, 221, 12, 0.25);
}
