<!DOCTYPE html>
<html>
<head>
    {% extends 'users/base.html' %}
    <title>{% block title %}Create | {% endblock title %}</title>
</head>
<body>
    {% block header %}
        <h5>Create Order for {{ order.client.first_name }} {{ order.client.second_name }}</h5>
    {% endblock header %}
    
    {% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Service</button>
    </form>
    {% endblock content %}
</body>
</html>
