<!DOCTYPE html>
<html>
<head>
    {% extends 'users/base.html' %}
    <title>{% block title %}Payments | {% endblock title %}</title>
</head>
<body>
    

    {% block header %}
    <h5>Daily Payments Summary</h5>
    {% endblock header %}
    
    {% block content %}
    <table>
        <thead>
            <tr>
                <th>Payment Method</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in summary %}
                <tr>
                    <td>{{ entry.method }}</td>
                    <td>{{ entry.total_amount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock content %}
</body>
</html>
