<!DOCTYPE html>
<html>
<head>
    {% extends 'users/base.html' %}
    <title>{% block title %}Delete | {% endblock title %}</title>
</head>
<body>


    {% block header %}
    <h5>Delete service</h5>
    {% endblock header %}
    
    {% block content %}
    <p>Are you sure you want to delete {{ service.name }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <a href="{% url 'services:service_list' %}">Back to Service List</a>
    {% endblock content %}
</body>
</html>
