<!DOCTYPE html>
<html>
<head>
    {% extends 'users/base.html' %}
    <title>{% block title %}Delete | {% endblock title %}</title>
</head>
<body>
    

    {% block header %}
    <h5>Delete Order Item</h5>
    {% endblock header %}
    
    {% block content %}
    <p>Are you sure you want to remove {{ order_item.service.name }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <a href="{% url 'services:edit_order' order.id %}">Back to Order</a>
    {% endblock content %}
</body>
</html>
